#filter{
    max-width: 70%;
    margin: auto;
    text-align: left;
    margin-top: 20px;
}
#filter select{
  text-align: left;
  background-color: white;
  border: 1px solid #4da;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}